.header {
    background-image: url(./images/Rectangle\ 1.png);
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
}
.navbar {
    background-color: transparent !important;
}


.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}
.navbar-toggler-icon {
    background-image: rgb(0,0,0);
}
.contact-button__container button {
    width: 96px;
    height: 40px;
    border-color: #000000;
    color: #ffffff;
    font-weight: 700;
    background-color: #2F60A6;
    font-family: 'Manrope';
    font-size: 14px;
}

.nav-item {
    color: #000000;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 700;
}


.card {
    background-color: transparent;
    border: none;
}

.header .card .input-group {

    max-width: 502px;
    height: 73px;

}

.header .card .btn {


    background: #2F60A6;
    border-radius: 8px;


    font-family:'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.2px;

    width: 136px;
    height: 61px;

    color: white;

}

@media screen and (max-width: 1024px) {

    .header .card .btn {


        background: #2F60A6;
        border-radius: 8px;

        font-family:'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.2px;

        width: 115px;
        height: 61px;

        color: white;

    }

}

@media screen and (max-width: 375px) {

    .header .card .btn {


        background: #2F60A6;
        border-radius: 8px;


        font-family:'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;

        width: 91px;
        height: 50px;

        color: white;

    }

}

.header .card .form-control {

    border-right: 0;

}

.header .card .input-group-text {

    background-color: white;
    border-left: 0;

}


.container-lg {
    text-align: center;
}

.second-section{
    padding:117px 144px 140px 143px;
}

.second-section p{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Manrope';
}

.h-section2-all {
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: 800;
}

.p-section2-all {
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 400;
}
.third-section {
    text-align: center;
    background:linear-gradient(180deg, #2F60A6 0%, #2C347C 100%);
}
.third-section h2 {
    font-family: 'Manrope';
    font-weight: 800;
    color: #ffffff;
    font-size: 48px;
}
.third-section p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Manrope';
    color: #ffffff;
}

.third-section .container {
    margin-top: 3rem !important;

}

.third-section .container .card-body {
    padding: 0;
}
.fourth-section {
    padding-bottom: 160px;
    padding-top: 160px;
}
.fourth-section .card .card-body p {
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 400;
    color: #808080;
}

.fourth-section .card .card-body button{
    width: 160px;
    height: 48px;
    border-radius: 8px;
    background-color: #2f60a6;
    margin-top: 80px;
}
.fourth-section .card .card-body h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Manrope';
    color: #2e2e2e;
}

.fifth-section {
    background: linear-gradient(180deg, #2F60A6 0%, rgba(44, 52, 124, 0.0121536) 99.99%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));;
    padding-top: 59px;
}

.fifth-section-title {
    text-align: center;
}
.fifth-section-title h1{
    font-size: 48px;
    font-family: 'Manrope';
    font-weight: 800;
    color: #18191F;
}

.imagini .row .card .card-body {
    background-color: #ffffff;
    border-radius: 16px;
    max-width: 170px;
    margin-bottom: 24px;
}
.fifth-section-title p{
    font-size: 18px;
    font-family: 'Manrope';
    font-weight: 500;
    padding-bottom: 48px;
}

.sixth-section .card .card-body h1 {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 48px;
}

.sixth-section .card .card-body p {
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
}

.sixth-section .card .card-body .btn  {
    width: 226px;
    height: 70px;
    background-color: #2f60a6;
    font-size: 24px;
    font-family: 'Manrope';
    font-weight: 600;
    text-align: center;
    padding: 15px;
    margin-top: 31px;
}
footer{
    background-color: #2f60a6;
}
footer h5 {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}
footer .text-muted {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #e6e6e6 !important;
    margin-top: 24px;
}

footer .container .row {
    justify-content: space-between;
}
@media (max-width:768px) {
 .navbar {
    position: relative;
 }
 .contact-button__container {
    position: absolute;
    top: 35px;
    right: 35px;
 }
 .navbar-toggler {
    border: none;
    padding: 0px;
 }
 .container-fluid {
    padding-right: 35px;
 }

 .fourth-section .card .card-body button{
    width: 100%;
    display: block;
 }
 .third-section .row img {
    rotate: 90deg;
 }

 .fourth-section .first-row {
    flex-direction: column-reverse;
 }
}
