:root {
  --primary: #FFFFFF;
  --primaryOp: rgba(255, 255, 255, 0.8);
  --secondary: #000000;
}

* {
    margin: 0;
    font-family: 'Olympus Regular';
}
.container_main {
    width: 100%;
    height: 100vh;
    background-image: url(./images/Wild_Zeus_Background_3.jpg);
    background-size: cover;
    display: flex;
}

.menu-start {
    background-image: url(./images/ezgif.com-gif-maker.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
}

.menu_start_buttons {
    position: relative;
    text-align: center;
    top: 25%;

}


.menu-singleplayer-button {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    width: 200px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    background-color: var(--primaryOp);
    cursor: pointer;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .menu-multiplayer-button {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    width: 200px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    background-color: var(--primaryOp);
    cursor: pointer;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .singleplayer {
    margin-bottom: 25px;
  }

  .music img{
    width: 40px;
    height: 40px;
    filter: invert(1);
  }

  .music {
    text-align: center;
    margin-right: 1000px;
    margin-top: 20px;
  }
  
  .title-game {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: var(--primary);
    text-shadow: 4px 4px var(--secondary);
  }