
:root {
  --primary: #FFFFFF;
  --primaryOp: rgba(255, 255, 255, 0.8);
  --secondary: #000000;
  --garnet: rgba(142, 37, 34, 0.9);
  --blue: rgba(45, 80, 182, 0.9);
  --darkYellow: rgb(81,67,21);
  --darkPurple: rgb(109, 73, 119);
  --darkBlue: rgb(32,42,68);
  --secondaryOp: rgba(0,0,0,0.7);
  --secondaryOpSecond: rgba(255,255,255,0.7);
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Olympus Regular';
}
body {
  overflow: hidden;
}

.game-multiplayer {
    background-image: url(./images/wp10927100-gods-of-olympus-wallpapers.jpg);
    display: flex;
    filter: blur(0.1px);
    height: 100vh;
    display: none;
    padding-top:90px;
    background-repeat: no-repeat;
    background-size: cover;
}
.multiplayer-container {
    background-image: url(./images/Wild_Zeus_Background_4.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
}
.multiplayer-menu {
    background-image: url(./images/Wild_Zeus_Background_2_animation.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    text-align: center;
}

.board {
    margin-top: 10%;
    padding: 10px;
    height: 600px;
    width: 600px;
    margin:10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: auto;
    background: linear-gradient(133.05deg, var(--garnet) 0.62%, var(--blue) 102.4%);
    border-radius: 8px;
}
.zeustype {
  width: 200px;
  height: 200px;
}

.card {
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border: 2px solid;
    border-radius: 8px;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.ff,
.bb {
    /*front face and back face*/
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
}

.ff {
    transform: rotateY(180deg);
}

.Memory {
    margin: 0 auto;
    height: 40px;
    left: 535px;
    top: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 40.187px;
    line-height: 40px;
    letter-spacing: 0.0882153px;
    color: var(--primary);

}
.top {
  display: flex;
  padding-bottom: 50px;
}
.restartbutton {
  animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  margin-top: 20px;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  background-color: var(--primaryOp);
  margin-right: 20px;
}

#exitbutton {
  animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  margin-top: 20px;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  background-color: var(--primaryOp);
}
a {
  text-decoration: none;
  color: var(--secondary);
}

.restartbutton:active,
.exitbutton:active {
    transform: scale(.97);
    transition: transform .2s;
}

.Player1,
.Player2 {
    /*Scoreboard text*/
    position: relative;
    width: 100px;
    height: 36px;
    top: 30px;

    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    letter-spacing: -0.02em;
    text-transform: capitalize;
        color: var(--primary);
}
.Player1 {
  left: 34px;
}
.Player2 {
  right: 50px;
}

.hercules {
  margin-right: 100px;
}

.kratos {
  margin-left: -20px;
}

.Player1 h2, h3{
  font-size: 30px;
  text-shadow: 10px 10px 25px var(--darkYellow),
    -10px 10px 25px var(--darkYellow),
    -10px -10px 25px var(--darkYellow),
    10px -10px 25px var(--darkYellow);

}
.Player2 h2, h3{
  font-size: 30px;
  text-shadow: 10px 10px 25px var(--darkYellow),
    -10px 10px 25px var(--darkYellow),
    -10px -10px 25px var(--darkYellow),
    10px -10px 25px var(--darkYellow);

}

.Player1 #moves-p1 {
  font-size: 20px;
  text-shadow: 10px 10px 25px var(--darkYellow),
    -10px 10px 25px var(--darkYellow),
    -10px -10px 25px var(--darkYellow),
    10px -10px 25px var(--darkYellow);
}

.Player2 #moves-p2 {
  font-size: 20px;
  text-shadow: 10px 10px 25px var(--darkYellow),
    -10px 10px 25px var(--darkYellow),
    -10px -10px 25px var(--darkYellow),
    10px -10px 25px var(--darkYellow);
}

.frame169:after, .frame169:before{
    mix-blend-mode:multiply;
    filter:none;
    z-index: -1;
    content:'';
    width:calc(100% + (50px * 2));
    height:calc(100% + (50px * 2));
    position: absolute;
    display: block;
    animation: border 10s ease-in-out infinite;
    transform:translateX(-90px) translateY(-80px);
  }
  @keyframes border {
    0%, 100% {
      -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
              clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
      -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
              clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  }
  
  .frame169:after{
    animation-delay: -5s;
    background-color: var(--darkPurple);
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  .frame169:before {
    background-color: var(--darkPurple);
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
/*   
  .frame169:hover:after{
    animation-delay: -0.1s;
  }
  .frame169:hover:before, .frame169:hover:after {
  
            animation-duration: 0.2s;
  } */

.frame169 {
    /*Player 1 scoreboard*/
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    width: 220px;
    height: 344px;
    left: 150px;
    top: 250px;
}

.frame170 {
    /*Player 2 scoreboard*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 220px;
    height: 344px;
    right: 50px;
    top: 250px;
}
.frame170:after, .frame170:before{
    mix-blend-mode:multiply;
    filter:none;
    z-index: -1;
    content:'';
    width:calc(100% + (50px * 2));
    height:calc(100% + (50px * 2));
    position: absolute;
    display: block;
    animation: border 10s ease-in-out infinite;
    transform:translateX(-60px) translateY(-80px);
  }
  @keyframes border {
    0%, 100% {
      -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
              clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
      -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
              clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  }
  
  .frame170:after{
    animation-delay: -5s;
    background-color: var(--darkPurple);
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  .frame170:before {
    background-color:var(--darkPurple);
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }

.hide {
  display: none;
}

.board.resize {
    grid-template-rows: repeat(3, 1fr);
}

.multiplayer-buttons-footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

#time {
  font-size: 28px;
  left: 150px;
  border: 2px solid;
  text-align: center;
  width: 150px;
  background-color: var(--secondary);
      color: var(--primary);
}

.Memory h1 {
  width: 520px;
  color: var(--secondary);
  border: 2px solid;
  font-size: 48px;
  padding: 10px 10px;
  background-color: var(--secondaryOpSecond);
  font-weight: bold;
}

.athenatype {
  width: 200px;
  height: 200px;
}

.multiplayer-menu-items {
  margin-top: 10%;
}

.inputs-type {
  display: flex;
  justify-content: space-evenly;
}

#start {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

#show-first-image {
  display: none;
  width: 400px;
  font-size: 40px;
  color: var(--primary);
  text-shadow: 2px 2px var(--secondary);
  font-weight: bold;
}

#show-second-image {
  display: none;
  width: 400px;
  font-size: 40px;
  color: var(--primary);
  text-shadow: 2px 2px var(--secondary);
  font-weight: bold;
}

.thisWillShow__hover {
  display: flex;
  justify-content: center;
}

#start {
  animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  width: 200px;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  background-color: var(--secondaryOpSecond);
}

#back {
  animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  margin-top: 100px;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  background-color: var(--secondaryOpSecond);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#winMessageKratos {
  display: none;
  text-align: center;
  font-size: 60px;
  color: var(--primary);
  text-shadow: 4px 4px var(--secondary);
  width: 700px;
  margin: 0 auto;
  background-color: var(--secondaryOp);
  border-radius: 8px;
}

#winMessageHercules {
  display: none;
  text-align: center;
  font-size: 60px;
  color: var(--primary);
  text-shadow: 4px 4px var(--secondary);
  width: 700px;
  margin: 0 auto;
  background-color: var(--secondaryOp);
  border-radius: 8px;
}

.inputs-type input {
  accent-color: cadetblue;
  width: 25px;
}

.music img{
  width: 40px;
  height: 40px;
  filter: invert(1);
}

.music {
  text-align: center;
  margin-right: 1000px;
  margin-top: 20px;
}

.cursor {
  cursor: not-allowed;
}
