body{
    background-color: #F3F3F3;
    margin-top: 0;
}
.top-menu-icon{
    text-align: center;
    margin:40px 0px 40px 0px;
    color: rgb(204, 203, 204);
}
.container-newsletter{
    text-align: center;
    margin-left:25.4%;
    margin-right: 25.4%;
    background-color: white;
}

.view-details-button{
    font-weight: bold;
    font-size: 16px;
    background: none;
    border: 2px solid #fff100;
    background-color:white;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
}

.menu-bottom{
    padding-top: 20px;
    background-color: #F3F3F3;
    text-align: center;
    color: rgb(204, 203, 204);
}

.top-menu-items {

    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #fbd223;


}

.under-title {

    margin-bottom: 100px;
    color: white;

}

.image-page {

    width: 100%;
    margin-bottom: -5px;

}