@font-face {
    font-family: 'Crimson';
    src: url(./CrimsonText-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Italic';
    src: url(./CrimsonText-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Bold';
    src: url(./CrimsonText-Bold.ttf) format('truetype');
    font-weight: 700;
}