@font-face {
    font-family: 'Work Sans';
    font-weight: 100;
    font-style: normal;
    src: url("work-sans/WorkSans-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 100;
    font-style: italic;
    src: url("work-sans/WorkSans-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 200;
    font-style: normal;
    src: url("work-sans/WorkSans-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 200;
    font-style: italic;
    src: url("work-sans/WorkSans-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 300;
    font-style: normal;
    src: url("work-sans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 300;
    font-style: italic;
    src: url("work-sans/WorkSans-LightItalic.ttf") format("truetype");
}


@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: normal;
    src: url("work-sans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: italic;
    src: url("work-sans/WorkSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 500;
    font-style: normal;
    src: url("work-sans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 500;
    font-style: italic;
    src: url("work-sans/WorkSans-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 600;
    font-style: normal;
    src: url("work-sans/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 600;
    font-style: normal;
    src: url("work-sans/WorkSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    font-style: normal;
    src: url("work-sans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    font-style: italic;
    src: url("work-sans/WorkSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 800;
    font-style: normal;
    src: url("work-sans/WorkSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 800;
    font-style: italic;
    src: url("work-sans/WorkSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 900;
    font-style: normal;
    src: url("work-sans/WorkSans-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 900;
    font-style: italic;
    src: url("work-sans/WorkSans-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-style: normal;
    src: url("crimson-text/CrimsonText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-style: italic;
    src: url("crimson-text/CrimsonText-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: 600;
    font-style: normal;
    src: url("crimson-text/CrimsonText-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: 600;
    font-style: italic;
    src: url("crimson-text/CrimsonText-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: 700;
    font-style: normal;
    src: url("crimson-text/CrimsonText-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: 700;
    font-style: italic;
    src: url("crimson-text/CrimsonText-BoldItalic.ttf") format("truetype");
}