body{
    background-color: #88BDBF;
    margin-top: 0px;
    margin-bottom: 0px;
}
.container-content{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #F3F3F3;
    border: 1px solid red;
    height: 100vh;
}
.logo-content{
padding-top: 30px;
margin-left: 25px;
}
.logo-name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
}
.view-website{
    float: right;
    margin-right: 20px;
    font-size: 17px;
}
a {
    text-decoration:none;
}
.container-email-confirmation{
    background-color: #ff7a5a;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}
.email-confirmation-menu{
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
    background-color: white;
    text-align: center;
}
.email-text{
    text-align: center;
    padding-top: 25px;
}
.email-text-content{
    padding: 0px 100px;
}
.button-verify-email{
    background: none;
    border: none;
    background-color:#ff7a5a;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 8px;
}
.bottom-menu{
    text-align: center;
    margin-top:20%;
}
.copyright-content{
    font-size: 12px;
    text-align: center;

}