:root {
    --primary: #FFFFFF;
    --secondary: #000000;
    --blue: #228dff;
    --red: #ff0000; 
    --orange: #ff7300;
    --yellow: #fffb00;
    --slime: #48ff00;
    --cyan: #00ffd5;
    --darkblue: #002bff;
    --darkpurple: #7a00ff;
    --purple: #ff00c8;
    --garnet: #770737;
    --almostBlack: #111;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("./images/background-image-menu.gif");
}

.btn-choose-modes__main-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-glow {
    width: 220px;
    height: 70px;
    border: none;
    outline: none;
    color: var(--primary);
    text-shadow: 0 0 1px var(--primary),0 0 1px var(--primary),0 0 3px var(--primary),0 0 1px var(--blue),0 0 2px var(--blue),0 0 3px var(--blue);
    background: var(--almostBlack);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Games';
    font-size: 24px;
}

.button-glow:before {
    content: '';
    background: linear-gradient(45deg, var(--red), var(--orange), var(--yellow), var(--slime), var(--cyan), var(--darkblue), var(--darkpurple) var(--purple), var(--red));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button-glow:active {
    color: var(--secondary);
}

.button-glow:active:after {
    background: transparent;
}

.button-glow:hover:before {
    opacity: 1;
}

.button-glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--garnet);
    left: 0;
    top: 0;
    border-radius: 10px;
    border: 1px solid var(--primary);
}
.image-modes__hover {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#show-image-singleplayer {
    display: none;
}

#show-image-multiplayer {
    display: none;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.header-warning {
    text-align: center;
    font-size: 28px;
    color: var(--primary);
    width: 600px;
    margin: 0 auto;
    font-family: 'Milky Honey';
    text-shadow: -1px 0 var(--red), 0 1px var(--red), 1px 0 var(--red), 0 -1px var(--red);
}