:root {
    --magenta: #BF40BF;
    --primary: #FFFFFF;
    --gray: #333;
    --blue: #498AFB;
    --lightGray: #aeaeb5;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(./images/BzMIeML.gif);
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

.title__multiplayer-mode {
    color: var(--primary);
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
    font-family: 'Games';
    padding-bottom: 100px;
}

.display {
    color: var(--primary);
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}
.both-players-container {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Milky Honey', sans-serif;
    font-size: 24px; 
    color: var(--primary);
}
label {
    font-family: 'Games';
    font-size: 24px;
}

.first-player-input-name {
    margin-bottom: 25px;
}

.second-player-input-name {
    margin-bottom: 25px;
}
#player1 {
    width: 250px;
    border: 2px solid var(--lightGray);
    border-radius: 6px;
    font-size: 20px;
    padding: 2px;
    margin-top: -10px;
    outline: none;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
    background-color: rgba(255,255,255,0%);
    color: var(--primary);
    font-family: 'Milky Honey';
  }
  #player1:focus {
    outline: none;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
  }

  #player2 {
    width: 250px;
    border: 2px solid var(--lightGray);
    border-radius: 6px;
    font-size: 20px;
    padding: 2px;
    margin-top: -10px;
    outline: none;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
    background-color: rgba(255,255,255,0%);
    color: var(--primary);
    font-family: 'Milky Honey';
  }
  #player2:focus {
    outline: none;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
  }

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    row-gap: 8px;
    column-gap: 8px;
    max-width: 300px;

}

.tile {
    border: 1px solid var(--primary);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}


.playerO {
    color: var(--blue);
    font-family: 'Milky Honey';
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: var(--primary);
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: var(--blue);
}

#reset {
    background-color: #FF3860;
}
.nume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--primary);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.buttonStart{
    text-align: center;
}
.btnContainer {
    text-align: center;
    margin-top: 20px;
}

#joc{
    display: none;
}
#joc-start{
    display: contents;
}
/*button back*/
.backbutton{
    margin-left: 200px;
    margin-top: 100px;
    position: fixed;
}
.wrapper{
    position: fixed;
    transform: translate(-50%, -50%);
    border: 1px solid var(--primary);
}

.link_wrapper{
    position: relative;
}
.playerX {
    color:gold;
    font-family: 'Milky Honey';
}
.second-player-character {
    text-align: end;
}
a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: var(--gray);
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid var(--gray);
    transition: all .35s;
}



.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: var(--magenta);
    transition: all .35s;
}

a:hover{
    width: 200px;
    border: 3px solidvar(--magenta);
    background: var(--primary);
    color: var(--magenta);
}

a:hover + .icon{
    border: 3px solid var(--magenta);
    right: -25%;
}

.thiswilldiss .hide{
    display: none;
}

.thiswilldiss .show{
    display: block;
}

#start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #start{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--gray);
    border: 2px solid var(--gray);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
  }
  
  
  #start:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--magenta);
    transition: all .35s;
  }
  
  #start:hover{
    color: var(--primary);
  }
  
  #start:hover:after{
    width: 100%;
  }

  #message {
    font-size: 24px;
    text-align: center;
    font-family: 'Milky Honey';
    color:var(--primary) ;
  }

  #reset {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--gray);
    border: 2px solid var(--gray);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
    margin-top: 20px ;
  }