:root {
    --magenta: #BF40BF;
    --primary: #FFFFFF;
    --gray: #333;
}
* {
    padding: 0;
    box-sizing: border-box;
}
.background {

    height: 100vh;
    padding-top: 1px;

}
body{
    background-image: url("./images/BzMIeML.gif");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}
.container {
    margin: 0 auto;
}
.name-player {
    color: var(--magenta);
    text-shadow: -1px 0 var(--primary), 0 1px var(--primary), 1px 0 var(--primary), 0 -1px var(--primary);
    font-family: 'Milky Honey';
    font-size: 35px;
}

.choose-character {
    color: var(--magenta);
    text-shadow: -1px 0 var(--primary), 0 1px var(--primary), 1px 0 var(--primary), 0 -1px var(--primary);
    font-family: 'Milky Honey';
    font-size: 35px;
}

.nume {
    text-align: initial;
    padding-top: 40px;
}
.first-player-character {
    padding-top: 25px;
}
.title {
    color: var(--primary);
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}
.display {
    color: var(--primary);
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.hide {
    display: none;
}
.container {
    width: 100vw;
    height: 400px;
    max-width: 600px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 5px;
}
body.over .container {
    cursor: no-drop;
}
body.over .container .item {
    pointer-events: none;
}
.item {
    width: 100%;
    /* height: calc(100vw/100*30); */
    height: 100%;

    border: 2px solid var(--primary);
    background-color: rgba(0, 0, 0, 0.75);

}
.playerTitle {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--magenta);
    text-shadow: -5px 0 var(--primary), 0 5px var(--primary), 5px 0 var(--primary), 0 -5px var(--primary);
    font-family: 'Games';
    padding-top: 20px;
}
.playerX {
    background-image: url(./images/X.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.computer {
    background-image: url(./images/O.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.rematch {
    cursor: pointer;
    padding: 20px 50px;
    display: inline-block;

    color: var(--primary);
    font-size: 24px;
    margin-bottom: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.controls button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
body.over .rematch {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    background-color: #FF3860;
}
.nume{
    color: var(--primary);
    margin-bottom: 20px;
    font-size: 30px;
}


.buttonStart{
    text-align: center;
    margin-top: 10px;
}
#Start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #Start{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--gray);
    border: 2px solid var(--gray);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
  }
  
  
  #Start:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--magenta);
    transition: all .35s;
  }
  
  #Start:hover{
    color: var(--primary);
  }
  
  #Start:hover:after{
    width: 100%;
  }
#joc{
    display: none;
}
#joc-Start{
    display: contents;
}

.nume .hide {
    display: none;
}

#jucator1 {
    width: 250px;
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    font-size: 20px;
    padding: 2px;
    margin-top: -10px;
    outline: none;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
    background-color: rgba(255,255,255,0%);
    color: var(--primary);
    font-family: 'Milky Honey';
  }
  #jucator1:focus {
    outline: none;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
  }

    .class-name text {
    padding-top: 15px;
  }

  .rematch {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--gray);
    border: 2px solid var(--gray);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px var(--magenta);
    margin-top: 20px ;
  }

  .Restart {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--gray);
    border: 2px solid var(--gray);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-color: 	var(--magenta);
    box-shadow: 0 0 10px 	var(--magenta);
    margin-top: 20px ;
  }

  
  a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: var(--gray);
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid var(--gray);
    transition: all .35s;
}



.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: var(--magenta);
    transition: all .35s;
}

a:hover{
    width: 200px;
    border: 3px solid var(--magenta);
    background: var(--primary);
    color: var(--magenta);
}

a:hover + .icon{
    border: 3px solid var(--magenta);
    right: -25%;
}
.backbutton{
    position: fixed;
}
.wrapper{
    position: fixed;
    transform: translate(-50%, -50%);
    border: 1px solid var(--primary);
}

.link_wrapper{
    position: relative;
}

#message {
    padding-top: 10px;
    color: var(--primary);
    font-size: 28px;
    width: 600px;
    text-align: center;
    font-family: 'Games';
    margin: 0 auto;
}