:root {
    --primaryColor: #F25C05;
    --textColor: #212529;
    --textColorSec: #F3D92C;
    --Light: white;
    --Dark: Black;
}


header {
    position: fixed;
    background-color: var(--primaryColor);
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    z-index: 2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--Light);
    padding: 12px 15px;
}

@media (max-width: 767px) {
    header {
        padding: 16px 20px;
        height: 72px;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--primaryColor);
        padding: 30px 0;
        display: none;
    }

    .nav-links {
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-menu-close,
    .mobile-menu-open {
        background-color: transparent;
        border: 0;
        color: var(--Light);
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }
}

@media (min-width: 768px) {

    .mobile-menu-close,
    .mobile-menu-open {
        display: none;
    }
}

footer {
    background-color: var(--primaryColor);
    padding: 60px 0;
    color: var(--Light);
    margin-top: 100px;

}


.footer-items {
    justify-content: space-between;
}

@media (max-width: 767px) {
    footer .copyright-text {
        font-size: 20px;
        font-family: 'Work Sans';
        font-weight: 400;
        line-height: 125%;
        color: var(--Light);
    }
    .footer-items {
        justify-content: center;
        flex-direction: column;
    }
}