:root {
    --primaryColor: #F25C05;
    --textColor: #212529;
    --textColorSec: #F3D92C;
    --Light: white;
    --Dark: Black;
    --Gray: rgba(33, 37, 41, 0.5);
}

main {
    padding-top: 152px;
}
.contact-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.subtitle__contact {
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 125%;
}

.row-inputs {
    margin: 66px 130px 0px 130px;
}

.submit-btn__contact {
    background-color: var(--textColor);
    text-decoration: none;
    color: var(--Light);
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    padding: 13px 30px 10px 30px;
    display: block;
    text-align: center;
}
.form-control {
    background-color: var(--Light);
    border: 1px solid var(--Dark);
    border-radius: 5px;
}
@media (max-width: 767px) {
    .row-inputs {
        margin: 45px 20px 0px 20px;
    }
    main {
        padding-top: 106px;
    }
    .revert-on-mobile {
        flex-direction: column-reverse;
    }
}