:root {
    --primaryColor: #F25C05;
    --textColor: #212529;
    --textColorSec: #F3D92C;
    --Light: white;
    --Dark: Black;
    --Gray: rgba(33, 37, 41, 0.5);
}


main {
    padding-top: 158px;
}
.our-services-section .row {
    text-align: center;
    justify-content: center;
}

.title__our-services {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:var(--textColorSec);
}

.our-services-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.description__our-services {
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 125%;
}

.amount-time__our-services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services-section .amount-time__our-services p{
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    color: var(--Gray);
    padding-left: 9px;
    padding-top: 8px;
}

.card-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    font-family: 'Work Sans';
}

.col {
    display:flex;
    justify-content: center;
}

.card-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    font-family: 'Work Sans';
    color: var(--Gray);
}

.quality__our-services {
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 0;
}

.list-amount-time {
    list-style-image: url('./images/Vector.svg');

}

.learn-more-btn__services {
    background-color: var(--textColor);
    text-decoration: none;
    color: var(--Light);
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    padding: 13px 30px 10px 30px;
}

.our-services-section .card {
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    margin: 78px 52px 0 52px;
}

.list-amount-time li {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #212529;
    padding-top: 11px;

}

@media (max-width:767px) {
    main {
        padding-top: 90px;
    }
    .our-services-section .card { 
    margin: 30px auto;
    }
}