:root {
    --primaryColor: #F25C05;
    --textColor: #212529;
    --textColorSec: #F3D92C;
    --Light: white;
    --Dark: Black;
    --Gray: rgba(33, 37, 41, 0.5);
}

.portfolio-section {
    padding-top: 153px;
}

.portfolio-section .all-images__portfolio {
    padding-top: 80px;
}
.portfolio-section .row {
    text-align: center;
    justify-content: center;
}

.portfolio-section p:first-of-type {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:var(--textColorSec);
}

.portfolio-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.description__portfolio {
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 125%;
}

.portfolio-section .row .card {
    border: none;
}


.learn-more-btn__portfolio {
    background-color: var(--textColor);
    text-decoration: none;
    color: var(--Light);
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    padding: 13px 30px 10px 30px;
}

.portfolio-btn {
    text-align: center;
    padding-top: 64px;
}

.all-images__portfolio .row {
    display: flex;
    justify-content: center;
}

.all-images__portfolio .row .card {
    padding-bottom: 55px;
}
@media (max-width:767px) {
    .portfolio-section h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 125%;
        font-family: 'Crimson';
        font-weight: 700;
    }

    .portfolio-section .all-images__portfolio {
        padding-top: 45px;
    }
}