:root {
    --primaryColor: #F25C05;
    --textColor: #212529;
    --textColorSec: #F3D92C;
    --Light: white;
    --Dark: Black;
    --Gray: rgba(33, 37, 41, 0.5);
}


header {
    position: fixed;
    background-color: var(--primaryColor);
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    z-index: 2;
}

main {
    padding-top: 120px;
}

@media (max-width: 767px) {
    main {
        padding-top: 72px;

    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--Light);
    padding: 12px 15px;
}

.intro-section {
    background-color: var(--primaryColor);
    color: var(--Light);
    font-family: 'Work Sans';
    padding: 5px 0 82px;
}

.intro-section p:first-of-type {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.intro-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.intro-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light);
    text-decoration: none;
    color: var(--Dark);
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
}

.intro-section img {
    width: 100%;
}

.intro-section .image-container {
    display: flex;
    align-items: center;
}


/* -- SECOND SECTION CSS -- */


.partners-section {
    margin-top: 60px;
}

.partners-section .container-communication {
    padding-top: 74px;
}

.partners-section p:first-of-type {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:var(--textColorSec);
}

.partners-section h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.description__partners {
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 125%;
}

.partners-section .row-partners {
    justify-content: center;
    text-align: center;
}

.media-list-container__partners {
    padding-top:55px;
    text-align: center;
}

.media-list__partners {
    margin-bottom: 55px;
}
.learn-more-btn__partners {
    background-color: var(--textColor);
    text-decoration: none;
    color: var(--Light);
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    padding: 13px 30px 10px 30px;
}

.container-communication {
    display: flex;
    justify-content: space-around;
}

.partners-section .container-communication .row {
    align-items: center;
}

.image-container-communication img{
    width: 100%;
}

.text-container-communication {
    width: 470px;
    height: 255px;
    padding-left: 110px;
}

.partners-section .container-communication .row .text-container h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.partners-section .container-communication .row .text-container p {
 font-family: 'Work Sans';
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 125%;
 color: var(--Gray);
 letter-spacing: 0;
 text-transform: none;
 padding: 16px 0px 30px 0px;

}

/* ---Working mini-Section--- */

.partners-section .container-working {
    padding-top: 74px;
}

.partners-section .container-working .row .text-container h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.partners-section .container-working .row .text-container p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: var(--Gray);
    letter-spacing: 0;
    text-transform: none;
    padding: 16px 0px 30px 0px;
}


/* ---THIRD SECTION--- */


.talents-section {
    padding-top: 102px;
}

.talents-section .team-text__talents-section {
font-weight: 700;
font-size: 16px;
line-height: 125%;
letter-spacing: 5px;
text-transform: uppercase;
color:var(--textColorSec);

}

.talents-section h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson';
    font-weight: 700;
}

.description__team {
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 125%;
}

.talents-section .row {
    justify-content: center;
    text-align: center;
}

.talents-section .card-group {
    margin-top: 45px;
}

.talents-section .row .card {
    max-width: 280px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border: none;
}
/* 
.talents-section .card-group .card img {
    height: 175px;
    margin: 0 auto;
    padding-top: 20px;

} */
.talents-section .row .card img {
    margin-top:20px;
}
.talents-section .row .card h6{
    font-weight: 700;
    font-size: 24px;
    font-family: 'Crimson';
    line-height: 125%;
    color: var(--textColor);
    text-align: left;
}

.talents-section .card-group .card .card-body p  {
    font-size: 15px; 
    font-weight: 400;
    line-height: 125%;
    font-family: 'Work Sans';
    color: var(--Gray);
}

.talents-section .card-subtitle {
    text-align: left;
}

.view-team-btn__talents-section {
    display:flex;
    justify-content:center;
    padding-top: 45px;
    background-color: var(--textColor);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    padding: 13px 30px 10px 30px;
    margin-top: 45px;
    margin-bottom: 54px;
}


/* Desktops */
@media (min-width: 1200px) {}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {}

/* Mobile */
@media (max-width: 767px) {
    header {
        padding: 16px 20px;
        height: 72px;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--primaryColor);
        padding: 30px 0;
        display: none;
    }

    .nav-links {
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-menu-close,
    .mobile-menu-open {
        background-color: transparent;
        border: 0;
        color: var(--Light);
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }

    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding: 0 20px;
    }

    .text-container {
        margin-top: 30px;
    }

    .intro-section {
        padding-bottom: 40px;
    }

    /* ----SECTIUNEA A DOUA ----*/


    .partners-section {
        margin-top: 22px;
    }

    .partners-section h2 {
        font-size: 24px;
    }

    .partners-section .container .row .col-md-6 {
        width: 335px;
    }

    .media-list-container__partners ul {
        list-style-type: none;
        text-align: center; 
        margin: 55px 0;
    }

    .media-list__partners li {
        padding-bottom: 40px;
    }

    .partners-section .container-communication .row .image-container img {
        width:335px;
    }

    .partners-section .container-working .row .image-container-working img {
        width: 335px;
    }

    .first-card {
        margin-left: 47px;
    }

    .talents-section .card-group .card {
    margin-top: 35px;
    margin: 0 auto;
    width: auto;
    }


}

@media (min-width: 768px) {

    .mobile-menu-close,
    .mobile-menu-open {
        display: none;
    }

    .media-list-container__partners ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
    
    .first-card {
        margin-left: 132px;
    }

}