body{
    margin: 0px;
}
.header-container{
    background-color: #87509C;
    padding-top:58px;
}
.header-container-top{
    display: flex;
    justify-content: space-between;
    padding-left: 212px;    
    padding-right: 217px;
}
.header-buttons{
    padding-top: 8px;
}
.header-buttons button{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Titillium Web';
    border: none;
    background: none;
    color: #FFFFFF;
}
.header-buttons button:hover{
    background-color: #643A79;
}
.header-container-text{
    padding: 133px 266px 26px 266px;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Titillium Web';
    text-align: center;
    color: #F7F3EA;
    margin: 0;
}
.work-with-us-button{
    border: none;
    color: #FFFFFF;
    background-color: #EB7D4B;
    border-radius: 4px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    width: 293px;
    height: 70px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Titillium Web';
    
}


.services-container{
    background-color:#17C2A4;
    text-align: center;
    padding: 107px 0px 122px 0px;
}
.services-container-title p{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Titillium Web';
    color: #FFFFFF;
    margin: 0;
}
.services-container-title hr{
    width: 87px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    
}
.services-container-undertitle{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Titillium Web';
    color: #FFFFFF;
    padding: 0px 370px 0px 370px;
    text-align: center;
}
.services-container-all{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 195px;
    padding-right: 195px;
}
.services-container-all-type{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Titillium Web';
    color: white;
}
.services-container-all-description{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Titillium Web';
    color: #FFFFFF;
    padding: 0px 20px;
}

.meet-team-container{
    background-color: #E7F1F8;
    text-align: center;
    padding-top: 107px;
    padding-bottom: 127px;
}
.meet-team-container-top p{
    font-size: 40px;
    font-family: 'Titillium Web';
    color: #3C4761;
    font-weight: 700;
    margin: 0;
}
.meet-team-container-top hr{
    width: 87px;
    border: 2px solid rgba(189, 209, 223, 1);
}
.meet-team-container-undertitle{
    font-size: 18px;
    text-align: center;
    font-family: 'Titillium Web';
    color: #3C4761;
}
.meet-team-container-profiles{
    display: flex;
    justify-content: space-between;
    padding: 74px 200px 0px 200px;
}
.meet-team-profiles-name{
    font-size: 24px;
    font-family: 'Titillium Web';
    color: #27283D;
    font-weight: 700;
    margin-bottom: 0;
}
.meet-team-profiles-function{
    font-size: 16px;
    font-family: 'Titillium Web';
    font-weight: 400;
    color:#30BAE7;
    margin-top: 0;
}
.meet-team-profiles-description{
    font-size: 16px;
    font-family: 'Titillium Web';
    font-weight: 300;
    color:#3C4761;
    margin-top: 9px;
    padding: 0 30px;
}

.we-got-skills-container{
    text-align: center;
    padding-top: 105px;
}
.we-got-skills-container-menu h1{
    font-family: 'Titillium Web';
    font-size: 40px;
    color:#3C4761;
    margin-bottom: 0;
}
.we-got-skills-container-menu hr{
    width: 80px;
    border: 2px solid rgba(223, 232, 237, 1)
}
.we-got-skills-container-undertitle-text{
    font-family: 'Titillium Web';
    font-size: 18px;
    padding: 0px 444px 80px 450px;
    color:#3C4761;
}
.we-got-skills-container-images{
    display: flex;
    justify-content:space-between;
    padding: 0px 190px 110px 190px;
}
.we-got-skills-container-underparagraphs{
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: 700;
    color: #3C4761;
}


.our-portfolio-container{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    background-color:#FFDD99;
}
.our-portfolio-container-menu .our-portfolio-paragraph{
    font-size: 40px;
    font-family:'Titillium Web' ;
    font-weight: 700;
    color:#393939;
    margin: 0px;
    padding-top: 107px;
}
.our-portfolio-container-line{
    width: 80px;
    border: 2px solid rgba(229, 195, 127, 1);
}
.our-portfolio-container-text{
    color:#393939;
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 18px;
    padding: 0px 470px;
}
.our-portfolio-container-menu-items button{
    width: 84px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    font-size: 18px;
    font-family: 'Titillium Web';
    color: #393939;
}
.our-portfolio-container-menu-items button:hover {
    background-color: #FFFFFF;
}
.our-portfolio-container-menu-items{
    padding-bottom: 60px;
}
.our-portfolio-container-images p{
    font-size: 18px;
    font-family: 'Titillium Web';
    padding-top: 27px;
}
.our-portfolio-container-images-row{
    display: flex;
    justify-content: center;
}
.our-portfolio-container-button {
    padding-top: 97px;
    padding-bottom: 110px;
}
.our-portfolio-container-button button{
    width: 293px;
    height: 70px;
    background-color: #17C2A4;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    font-size: 18px;
    font-family: 'Titillium Web';
    color: #FFFFFF;
}
.content-purple-container{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #D74680;
}
.what-people-say{
    font-size: 40px;
    font-family:'Titillium Web' ;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 107px;
}
.purple-container-line{
    width: 80px;
    border: 2px solid rgba(0, 0, 0, 0.15);
}
.purple-container-text{
    color: #FFFFFF;
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 18px;
}
.purple-container-first-content{
    padding-top: 84px;
    display: flex;
    justify-content: space-around;
    padding-left:182px;
    padding-right: 202px;
}
.purple-first-left{
    display:flex;
}
.purple-first-left p{
    font-size: 21px;
    font-weight: 400;
    font-family: 'Titillium Web';
    width: 358px;
    font-style: italic;
    color: #FFFFFF;
    text-align: left;
    padding-left: 48px;
}
.purple-first-left img{
    width: 96px;
    height: 96px;
    padding-top:10px;
}
.purple-first-right{
    display: flex;
}
.purple-first-right img{
    width: 96px;
    height: 96px;
    padding-top: 10px;
}
.purple-first-right p{
    font-size: 21px;
    font-weight: 400;
    font-family: 'Titillium Web';
    width: 358px;
    font-style: italic;
    color: #FFFFFF;
    text-align: left;
    padding-left: 48px;
}
.purple-under-first-container{
    display: flex;
    justify-content: space-between;
    padding-left: 327px;
    padding-right: 410px;
}
.purple-under-text{
    font-size: 24px;
    font-family: 'Titillium Web';
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding-left: 10px;

}
.purple-under-text-next{
    font-size: 24px;
    font-family: 'Titillium Web';
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding-left: 230px;
}
.purple-under-text-second{
    font-size: 24px;
    font-family: 'Titillium Web';
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding-right: 240px;
}
.purple-under-text-one{
    font-size: 24px;
    font-family: 'Titillium Web';
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    margin-left: 180px;
}
.purple-second-under-first-container-double{
    font-weight: 400;
    font-family: 'Titillium Web';
    font-size: 18px;
    color: #FFDD99;
    margin-top:0px;
    margin-right: 220px;
}
.purple-second-under-first-container{
    font-weight: 400;
    font-family: 'Titillium Web';
    font-size: 18px;
    color: #FFDD99;
    margin-top:0px;
    margin-left: 10px;
}
.purple-second-under-first-container-next{
    font-weight: 400;
    font-family: 'Titillium Web';
    font-size: 18px;
    color: #FFDD99;
    margin-top:0px;
    margin-left: 230px;
}
.purple-second-under-first-container-next-one{
    font-weight: 400;
    font-family: 'Titillium Web';
    font-size: 18px;
    color: #FFDD99;
    margin-top:0px;
    margin-left: 180px;
}
.purple-container-second-content{
    display: flex;
    justify-content: space-around;
    padding:100px 182px 0px 182px;
}
.purple-second-left{
    display: flex;
}
.purple-second-left img{
    width: 96px;
    height: 96px;
    padding-top:10px;
}
.purple-second-left p{
    font-size: 21px;
    font-weight: 400;
    font-family: 'Titillium Web';
    width: 358px;
    font-style: italic;
    color: #FFFFFF;
    text-align: left;
    padding-left: 48px;
}

.purple-second-right{
    display: flex;
}
.purple-second-right img{
    width: 96px;
    height: 96px;
    padding-top:10px;
}
.purple-second-right p{
    font-weight: 400;
    font-family: 'Titillium Web';
    width: 358px;
    font-style: italic;
    color: #FFFFFF;
    text-align: left;
    padding-left: 48px;
    font-size:21px;
}
.purple-under-second-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 107px;
}
.footer {
    text-align: center;
    background-color: #3C5499;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 108px;
}
.get-in-touch{
    font-size:40px;
    font-family:'Titillium Web';
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px;
}
.footer-line{
    width: 80px;
    border: 2px solid #273A71;
}

.footer-text{
    color: #FFFFFF;
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 18px;
}

.footer-inputs{
    display: flex;
    justify-content: center;
    padding-top:73px;
}
::placeholder {
    color:#FFFFFF;
    font:18px 'Titillium Web';
    vertical-align: top;
}
.footer-inputs input{
    width: 414px;
    height: 56px;
    background-color:#273A71;
    border: none;
    outline: none;
    border-radius: 4px;
}
.email-input{
    margin-left:32px;
}
.text-input{
    margin-top:27px;
}

.text-input textarea{
    width: 860px;
    height: 200px;
    background-color:#273A71;
    border: none;
    outline: none;
    border-radius: 4px;

}

.send-messages-button{
    width: 293px;
    margin-top: 59px;
    height: 70px;
    background: #30BAE7;
    outline: none;
    border-radius: 4px;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    font-size: 18px;
    font-family: 'Titillium Web';
    color: white;
    font-weight: 400;
}
.footer-bottom-menu{
    margin-top: 115px;
    font-size: 24px;
    background: #344B8E;
    padding: 41px 250px 34px;

}

.footer-bottom-menu ul{

    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
    color: white;
}