

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    background: #F25C05;
}

main {
    padding-top: 120px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.nav-links-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links a{
    text-decoration: none;
    color: white;
    padding: 12px 15px;

}

main .intro-section {
    background: #F25C05;
    padding-top: 5px;
    padding-bottom: 82px;
}

main .intro-section .container .row .col-md-6 .start-welcome {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Work Sans';
    letter-spacing: 5px;
    line-height: 125%;
    font-style: normal;
    color: white;
}

main .intro-section .container .row .col-md-6 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    color: white;
    font-family: 'Crimson Bold', sans-serif;
}

main .intro-section .container .row .col-md-6 .start-description {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    font-family: 'Work Sans';
    padding-top: 15px;
    padding-bottom: 25px;
}

main .intro-section .container .row .col-md-6 .start-explore-btn {
    padding: 13px 49px 10px 48px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Work Sans';
    text-align: center;
    text-decoration: none;
    color: black;
}

.start-image {
    width: 100%;
}

.intro-section .image-container {
    display: flex;
    align-items: center;
}


/* Desktops */
@media (min-width: 1200px) {

}

/* Small Desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Mobile */
@media (max-width: 767px) {
    header {
        padding: 16px 20px;
        height: 72px;
    }

    .logo-link img {
        height: 38px;
    }
    
    .nav-links-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        padding: 30px 0;
    }

    .nav-links {
        display: inline;
        list-style-type: none;
    }

    .nav-links a {
        display: block;
    }
    .mobile-menu-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .mobile-menu-close, .mobile-menu-open {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }
    
    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding:0 20px;

    }

    .text-container {
        margin-top: 30px;
    }

    .intro-section {
        padding-bottom: 40px;
    }
}

/* De la Tablet in sus */

@media (min-width: 768px) {
    .mobile-menu-close, .mobile-menu-open {
        display: none;
    }
}