body{
    background-color: black;
}
.top-text{
    text-align: center;
    color: white;
}
.image-quote{
    text-align: end;
    background-color: white;
    margin-right: -10px;
}

.bottom-text{
    color: white;
    padding: 0px 600px;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}